<header class="header-block">
    <div class="container header-block__container">
        <nav class="nav-block">
            <a class="logo" href="./index.html"><span class="logo__accent">Web</span>Studio</a>
            <ul class="main-nav">
                <li class="main-nav__item"><a class="main-nav__link main-nav__link--active" href="/">Студия</a></li>
                <li class="main-nav__item"><a class="main-nav__link" href="/">Портфолио</a></li>
                <li class="main-nav__item"><a class="main-nav__link" href="/">Контакты</a></li>
            </ul>
        </nav>
        <ul class="adress-list">
            <li class="adress-list__item"><a class="adress-list__link" href="mailto:info@devstudio.com">info@devstudio.com</a>
            </li>
            <li class="adress-list__item"><a class="adress-list__link" href="tel:+380961111111">+38 096 111 11 11</a>
            </li>
        </ul>
    </div>
</header>