<header class="site-header">
  <nav class="site-nav">
    <ul class="site-nav__list">
      <li class="sote-nav__item">
        <a href="">Новости</a>
      </li>
      <li class="sote-nav__item"><a href="#"> Медиа-банк</a></li>
      <li class="sote-nav__item"><a href="#"> Контакты</a></li>
    </ul>
  </nav>
  <div class="site-contact">
    <ul class="site-contact_list">
      <li class="site-contact_item">
        <a href="mailto:info@devstudio.com" class="site-contact__link">info@devstudio.com</a>
      </li>
      <li class="site-contact_item">
        <a href="tel:+3809595956" class="site-contact__link">+3809595956</a>
      </li>
    </ul>
  </div>
</header>
